#banner-top {
    font-size: 12pt;
    line-height: 24pt;
    padding: 4pt 0pt;
    height: 48pt;
}

#banner-top > p {
    margin: 0;
    padding: 0 6pt;
}

#content {
    font-size: 24pt;
    height: min(100vw, 100vh - 56pt);
}

#banner-top,
#content {
    margin: 0 auto;
    width: min(100vw, 100vh - 56pt);
}

#content .table-danger {
    background-color: #d32f2f;
}

#content .table-info {
    background-color: #bdbdbd;
}

#content .table-dark {
    background-color: #000000;
    color: #000000;
}

#content .table-primary {
    background-color: #3f51b5;
}

#content > tbody {
    vertical-align: inherit;
}

#content td {
    background-clip: content-box;
    border: none;
    padding: 1pt;
    position: relative;
}

#content td p {
    background-color: #ffffff;
    border-radius: 15pt;
    line-height: 30pt;
    position: absolute;
    width: 30pt;
    height: 30pt;
    text-align: center;
    margin-left: calc(0.10 * min(100vw - 10pt, 100vh - 66pt) - 15pt);
    margin-top:  calc(0.10 * min(100vw - 10pt, 100vh - 66pt) - 15pt);
}

body {
    margin: 0;
}

p {
    text-size-adjust: none;
    -moz-text-size-adjust: none;
    -webkit-text-size-adjust: none;
}
