#banner-top {
    font-size: 32pt;
    line-height: 60pt;
    padding: 8pt 0pt;
    height: 128pt;
}

#banner-top > p {
    margin: 0;
    padding: 0 12pt;
}

#content {
    font-size: 42pt;
    height: min(100vw, 100vh - 144pt);
}

#banner-top,
#content {
    margin: 0 auto;
    width: min(100vw, 100vh - 144pt);
}

#content .table-danger {
    background-color: #d32f2f;
}

#content .table-info {
    background-color: #bdbdbd;
}

#content .table-dark {
    background-color: #000000;
    color: #000000;
}

#content .table-primary {
    background-color: #3f51b5;
}

#content > tbody {
    vertical-align: inherit;
}

#content td {
    background-clip: content-box;
    border: none;
    padding: 2pt;
    position: relative;
}

#content td p {
    background-color: #ffffff;
    border-radius: 30pt;
    line-height: 60pt;
    position: absolute;
    width: 60pt;
    height: 60pt;
    text-align: center;
    margin-left: calc(0.10 * min(100vw - 20pt, 100vh - 164pt) - 30pt);
    margin-top:  calc(0.10 * min(100vw - 20pt, 100vh - 164pt) - 30pt);
}

body {
    margin: 0;
    text-size-adjust: none;
    -moz-text-size-adjust: none;
    -webkit-text-size-adjust: none;
}
